{% load static %}
<title>Forgot</title>
<link rel="stylesheet" href="{% static 'css/change_password.css' %}">
        <script>
          function check(){
            var p1=document.getElementById("new_password").value;
            var p2=document.getElementById("conf_password").value;
            if(p1!=p2){
              alert("Passwords did not match");
              event.preventDefault()
              return false
            }
            else{
              alert("Password created successfully"); 
              return true
            }
          }
        </script>
        <form action='{% url "change_passwd" %}' method='post'>
        {% csrf_token %}
        <div class="container">
            <div class="card">
        
                <div class="inputBox">
                    <input type="password" name="password" required id="new_password">
                    <span>Password</span>
                </div>
                <div class="inputBox">
                  <input type="password" name="re-password" required id="conf_password">
                  <span>Re-Password</span>
              </div>

                <button class="enter" onclick="check()" >Enter</button>
            </div>
        </div>
</form>